{% extends 'base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}  

<div class = "container-fluid container-lg">
<div class="col-12 text-center ">
<h1>Modifier mes informations</h1>
<div class="row">


{% if app.user.photo != NULL %}
<div><img src="{{ asset('uploads/images/'~ app.user.Photo) }}" class="img-avatar" alt="avatar" height="200" width="200"> 
</div>
{% endif %} 
{% if app.user.photo == NULL %}
<div><img src="{{ asset('picture/blankprofile.png') }}" class="card-img-avatar" alt="avatar" height="200" width="200"> </div> 
{% endif %} 

 {{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</div>
</div>
</div>
</div>
</div>

{% endblock %}
