<form method="post" action="{{ path('app_section_delete', {'id': section.id}) }}" onsubmit="return confirm('En supprimant cette section, vous supprimerer toute les lessons qui y sont liées.Voulez vous vraiment supprimer cette section?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button class="btn btn-Vine">Supprimer</button>
</form>
