{% extends 'base.html.twig' %}

{% block title %}Nouvelle section{% endblock %}

{% block body %}
    <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-10 col-lg-4" id="registerForm">
    <a href="{{ path('app_section_index') }}" class="btn btn-Vine">retour</a>
        <h1>Nouvelle section</h1>

        {{ include('section/_form.html.twig') }}


       
    </div>
     </div>
{% endblock %}