{% extends 'base.html.twig' %}
{% block title %}Gestion utilisateurs{% endblock %}
{% block body %}



<div class="container-fluid container-lg">
<div class="row d-flex justify-content-evenly align-items-center overflow-auto">



 <div class="col-12">
    <div class="text-center">
      <h2>Gestion des utilisateurs</h2>
    </div>
  </div>



<div class="card-group">
     <div class="card-group text-center">



 <div class="col-12">
          <div class="card mx-4 my-5">
            <div class="card-body">
              <img src="{{ asset('picture/Learner.png') }}" class="card-img-avatar mt-3 " alt="imageLearner " height="200" width="200" >
              <h5 class="card-title">Gestion des Etudiants</h5>
              <p class="card-text">Consulter la liste des Etudiants et modifier les infos/droit.</p>
            </div>
            <div class="card-footer">
             <a href="{{ path('app_list_laerning') }}" class="btn btn-Vine" role="button">liste des etudiants</a>
          </div>
        </div>
         </div>
        <div class="col-12">
          <div class="card mx-4 my-5">
            <div class="card-body">
              <img src="{{ asset('picture/teacher.png') }}" class="card-img-avatar mt-3 " alt="imageTeacher" height="200" width="200" >
              <h5 class="card-title">Gestion des formateur</h5>
              <p class="card-text">Consulter la liste des insructeurs et modifier les infos/droit.</p>
            </div>
            <div class="card-footer">
            <a href="{{ path('app_list_teacher') }}" class="btn btn-Vine" role="button">liste des formateurs</a>
            </div>
          </div> 
        </div>
</div>
</div>

{% endblock %}
