{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
     <a href="{{ path('app_list_laerning') }}" class="btn btn-Vine" role="button">liste des etudiants</a>
    <a href="{{ path('app_list_teacher') }}" class="btn btn-Vine" role="button">liste des formateurs</a>
    
    
</div>
{% endblock %}
