@import "~bootstrap/scss/bootstrap";

/* font */

@font-face {
  font-family: 'Verdana Pro Light';
  src: 
      url("/assets/styles/font/VerdanaProLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana Pro';
  src: 
      url("/assets/styles/font/VerdanaProBold.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana Pro';
  src: 
      url("/assets/styles/font/VerdanaProRegular.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* SCSS RGB */
$vert-cyan: rgba(89,116,108,1);
$Vine: rgba(14,164,122,1);
$Sigma: rgba(239,251,245,1);
$blue-green: rgb(47,191,176,1);


/* custom */

.gradient-custom {
  /* fallback for old browsers */
  background: $Sigma;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, $Sigma,$blue-green);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, $Sigma,$blue-green)
  }


/* body */

body{
  background-color:$Sigma;
  
    font-size: xx-large;
  }
h1,h2,h3,h4,h5,h6 {
  font-family:  "Verdana Pro";
  color: $vert-cyan
}

/* nav */

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  text-align:center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  }
  #nav li {
  display: inline-block;
  font-size: xx-large;
  }
  .nav-link.dropdown-item {
    font-size: xx-large;
    
    }
 .navbar-toggler{
   font-size: 3em;
    }

/* btn */
.btn,.btn-Vine{
  text-decoration:none;
  color:$Sigma;
  background-color: $Vine;
  border-color: $Vine;
  font-family: 'Verdana Pro Light';
  font-size: xx-large;
}

.container {
  max-width:900px ;
}

/* link */

li {
  text-decoration:none;
  color: $vert-cyan;
  font-size: xx-large;
}

a:link, a:visited,a:hover,a:active {
  text-decoration:none;
  color: $Sigma;
}

/* img */
  

.img-icon{
  max-width:  30px;
  max-height: 30px;
}



/* form */
.form {
height: 100%;

}

.form-control {
  font-size: xx-large ;
  
  }

/* card */

.card{
  border-radius: 2rem;
 
 }




 .card-img-avatar
 {
   
   max-width:  250px;
   max-height: 250px;
  }
  .card-img-training
  {

    max-width:  600px;
    max-height: 200px;
   }
   td {
      
    font-size: xx-large;
  }

   @media only screen and (min-width: 768px) {
    .container {
      max-width:1000px ;
    }
     
   }



   @media only screen and (min-width: 992px) {
  
   body{
   
    
      font-size: medium;
    }
    .form-control {
      font-size: large ;
      
      }
    
    #nav li {
     
      font-size: medium;
      }

    .nav-link.dropdown-item{
   
    
      font-size: medium;
    }

    li{
      
      font-size: large;
    }
    .btn,.btn-Vine{
  
      font-size: medium;
    }
    .card-img-training
    {
      max-width:  1000px;
      max-height: 250px;
     }
 
    
      
  }
