


body {
    color:#59746C ;
    background-color:#EFFBF5;
  


}

.form-check {
    display: inline-block;
}

.container {
   
    margin-bottom:5em;
   

}

.btn-primary, .btn-primary:focus,.btn-primary:hover{
    background:#0EA47A;
    border-color: #0EA47A;
    color: #EFFBF5;
   

}

a ,a:hover,a:active,a:visited
{
   text-decoration: none;
    color: #EFFBF5;

}


a.nav-link,.nav-link:focus, .nav-link:hover {
    color: #59746C ;
}
    

  main {
     
      margin: auto;
      padding: 0%;
  }
  
  .logoE {
    width: 20rem;
    height: 20rem;
}



.card-img, .card-img-bottom, .card-img-top {
    width: 50%;
    height: 50%;
   
  

}
ul {
    list-style-type:none;
    padding: 0%;
    
}



