<div class="container-fluid container-lg" id="footer">
  <div class="d-flex justify-content-center ">
    <div class="d-flex mx-2">
      <a href="#" class="align-self-center mx-5" id="LegalNotice">Mentions légales</a>
      <a href="#" class="align-self-center mx-5" id="termsOfUse">Conditions d'utilisation</a>
    </div>
  </div>
</div>