<form method="post" action="{{ path('app_training_delete', {'id': training.id}) }}" onsubmit="return confirm('En supprimant cette formation, vous supprimerer toute les sections,et leçon qui y sont liées.Voulez vous vraiment supprimer cette section?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training.id) }}">
    <button class="btn btn-Vine">Supprimer</button>
</form>
