{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
     <div class="container-fluid container-lg">
        <h1>Nouvelle formation</h1>

        {{ include('training/_form.html.twig') }}

        <a href="{{ path('app_training_index') }}" class="btn btn-french-lilac my-2">Retour</a>
    </div>
{% endblock %}
